{% load static %}
<html>
<head>
    <title>Mary</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jarvis.css' %}" />

    <style type="text/css">
      .listenBtn {
        position: absolute;
        bottom: 4em;
        left: 4em;
        height: 80px;
        width: 80px;
        border: 4px solid #02feff;
        border-radius: 50%;
        background-color: black;
        color: #02feff;
        box-shadow: 0px 0px 19px rgba(2, 254, 255, 0.8);
      }

      .imgL {
        width: 100px;
        position: absolute;
        top: 17px;
        left: 17px;
      }
      .form-control {
        border: none;
        border-radius: 12px;
      }
      .btn.btn-info {
        background-color: rgba(2, 254, 255, 0.8);
        padding: 4px 8px;
        border-radius: 8px;
        color: white;
        border:none;
        margin-left: 6px;
      }
      .imgUnisimon {
        position: absolute;
      width: 600px;
      top: 4em;
      left: 4em;
      }
      #audio, #audio2, #audio3, #audio4 {
        visibility: hidden;
      }
    </style>
</head>
<body ng-app="aiml" ng-controller="main">
<!-- Left Menu -->
<div id="leftmenu">
  
    <div id="date_time" style="display:none;">
      <div id="date" class="semi_arc e4">
        <div class="semi_arc_2 e4_1">
          <div class="counterspin4"></div>
        </div>
          <div style="font-size: 40px; margin-top: 25px;" id="diaActual">04</div>
          <div style="font-size: 25px;" id="mesActual">January</div>
      </div>
      
      <div id="time" class="arc e1">
          <div style="font-size: 23px; margin-left: -10px; margin-top: 23px;" id="horaActual">23:41</div>
          <div style="font-size: 17px; margin-top: 10px;" id="diaSemana">Tuesday</div>
      </div>
    </div>
    
  </div>
  
  <!-- Right Menu -->
  <div id="rightmenu">
    <p class="title" style="text-align: left; margin-left: 10px;">Soy Mary</p>
    <div id="particle10" class="hline"></div>
    <div id="particle11" class="hline"></div>
    <div id="particle12" class="vline"></div>
    

    <div class="arc_reactor">
      <div class="case_container">
        <div class="e7">
          <div class="semi_arc_3 e5_1">
            <div class="semi_arc_3 e5_2">
              <div class="semi_arc_3 e5_3">
                <div class="semi_arc_3 e5_4">
                  <img src="{% static 'audacia.png' %}" class="imgL"/>
                </div>
              </div>
            </div>
          </div>
          <div class="core2"></div>
        </div>
        <ul class="marks">
          <li></li><li></li><li></li><li></li><li></li><li></li>
          <li></li><li></li><li></li><li></li><li></li><li></li>
          <li></li><li></li><li></li><li></li><li></li><li></li>
          <li></li><li></li><li></li><li></li><li></li><li></li>
          <li></li><li></li><li></li><li></li><li></li><li></li>
          <li></li><li></li><li></li><li></li><li></li><li></li>
          <li></li><li></li><li></li><li></li><li></li><li></li>
          <li></li><li></li><li></li><li></li><li></li><li></li>
          <li></li><li></li><li></li><li></li><li></li><li></li>
          <li></li><li></li><li></li><li></li><li></li><li></li>
        </ul>
      </div>
    </div>

    <!-- <div style="display:flex;flex-direction: row;">
      <input type="text" class="form-control" id="textMsg" />
      <button class="btn btn-info" id="btnSendMsg" type="button" ng-click="enviarComentario()">Enviar</button>
    </div>
    <textarea id="note_input" rows="12" cols="44" readonly></textarea> -->
  </div>
  
  
  
  <!-- Arc Reactor -->
  <div id="arc_container" class="particlehead">
    
  </div>

  <audio id="audio" src="{% static 'parte1_f.mp3' %}" controls></audio>
  <audio id="audio2" src="{% static 'parte1_1.mp3' %}" controls></audio>
  <audio id="audio3" src="{% static 'parte2.mp3' %}" controls></audio>
  <audio id="audio4" src="{% static 'parte3.mp3' %}" controls></audio>

  
  
  
  <!-- Particles -->
  <!-- Left Menu Particles -->
  

  <button class="btn btn-primary listenBtn" ng-click="escuchar()" ng-model="btnescuchar">
    <img src="{% static '211859-128.png' %}"  width="70%" />
  </button>

  <img src="{% static 'logounisimon.png' %}" class="imgUnisimon">

  <script id="fragmentShaderSun" type="x-shader/x-vertex"> 
    varying float intensity;
    void main() {
      vec3 glow = vec3(0, 1, 0) * intensity;
      gl_FragColor = vec4( glow, 1.0 );
    }
  </script>

  <script id="vertexShaderSun" type="x-shader/x-vertex">
    uniform vec3 viewVector;
    varying float intensity;
    void main() {
        gl_Position = projectionMatrix * viewMatrix * modelMatrix * vec4( position, 1.0 );
        vec3 actual_normal = vec3(modelMatrix * vec4(normal, 0.0));
        intensity = pow( dot(normalize(viewVector), actual_normal), 6.0 );
    }
  </script>
  <script src="{% static 'js/jquery.min.js' %}"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script> -->
  <!--<script src="{% static 'js/three.js' %}"></script>-->
  <script src="{% static 'js/three_mary.js' %}"></script>
  <script src="{% static 'js/tweenmax.min.js' %}"></script>
  <!--<script src="{% static 'js/OBJLoader.js' %}"></script>-->
  <script src="{% static 'js/three-objloader.js' %}"></script>
  <script src="{% static 'js/Modernizr.js' %}"></script>
  <script src="{% static 'js/jarvis.js' %}"></script>

</body>
</html>